/** Website colors */
$color-primary: #1991FF;
$color-secondary: #303136;
$color-shade: #616161;

$color-text-primary: #B2DAFF;
$color-text-secondary: #29A8FF;



.container{
    width: 375px;
    height: 812px;
    margin: auto auto;
    background: linear-gradient(191.34deg, #17181A -4.95%, #17181A 103.74%);
    border-radius: 39px;
}